*
!Resources/
!layout/
!layout/**
!Resources/*.gif
!.gitignore
!bundle.sh
!control
!macros.h
!Makefile
!Oneko.h
!Oneko.m
!Oneko.plist
!EdgeMap.h
!EdgeMap.m
!CLAUDE.md
!resources.h
!Tweak.xm
!README.md
!BUILDING.md